
body {
  font: 12px sans-serif;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightgray;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}


/*SVG*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: lightsteelblue;
}

.x.axis path {
  display: none;
}
